<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automaton.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Automaton.Properties.Settings>
            <setting name="AutomatonHeaderExtension" serializeAs="String">
                <value>auto_header</value>
            </setting>
            <setting name="AutomatonModExtension" serializeAs="String">
                <value>auto_mod</value>
            </setting>
            <setting name="AutomatonModpackExtension" serializeAs="String">
                <value>auto</value>
            </setting>
        </Automaton.Properties.Settings>
    </applicationSettings>
</configuration>